

body{
    background-color: #0a0a23;
    margin: 40px auto;
    color:white;
    text-align: center;
}

h1{
font-size: 50px;

}

.container{
    margin: 0 auto;
    width:60%;
    height: 100%;
    text-align: left;
}

input{
    height: 25px;
    margin-top: 0;
    width:150px;
}


pre{
    margin-top:0;
    font-size: 30px;
}

p{
    font-size:30px;
}


.meal{
    font-size: 30px;
    margin-bottom: 20px;
}

#options{
    width:85px;
    height:30px;
}

button{
    width:85px;
    height:30px;
    background-color: orange;
}


#Calculate{
    width:200px;
    height:30px;
    background-color: orange;
}

input[type="text"]
{
    height: 25px;
    margin-top: 0;
    width:400px;
}


.Entry_Break{
    display: none;
}


#result{
    border: 2px solid white;
    text-align: left;
    width:100%;
    height:50%;
    display:none;

}
#res{
    font-size: 30px;
    border-bottom: 1px solid white;
    width:80%;
    text-align: center;
    margin-left: 60px;
    color:palevioletred;
}




